.meeting-sidebar {
  position: absolute;
  top: 0;
  bottom: 7rem;
  right: 0;
  width: 28rem;
  background-color: $white;
  font-size: 1.5rem;
  color: $grey;

  &-btn-container {
    display: flex;
    box-shadow: 1px 1px 2px rgba($grey, 0.2);
  }
}
